<div class="container-fluid">
	<div *ngIf='profile'>
		<div class="panel panel-default">
			<div class="panel-heading">
        {{profile.name}}<p>{{profile.login}}</p>
        <br>
      	<span *ngIf="profile">Works at {{profile.company}}</span> 
      </div>
      <div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<img src="{{profile.avatar_url}}" class="img-circle img-responsive">
						<p>
							<a href="{{profile.html_url}}" target="_blank" class="btn btn-succes btn-sm">Explore profile on github</a>
						</p>
					</div>
					<div class="col-md-5">
						<ul class="list-group">
							<li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
							<li class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
							<li class="list-group-item"*ngIf="profile.email">{{profile.email}}</li>
							<li class="list-group-item"*ngIf="profile.hireable">{{profile.hireable}}</li>
						</ul>
					</div>
					<div class="col-md-4">
						<span class="label" class="btn btn-success"> {{profile.followers}} Followers</span>&nbsp;

						<span class="label" class="btn btn-info"> {{profile.following}} Following </span>&nbsp;

						<span class="label" class="btn btn-secondary"> {{profile.public_gists}} gists</span>&nbsp;

						<span class="label" class="btn btn-primary"> {{profile.public_repos}} Repositories</span>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-tittle">Repositories</h3>
					</div>
					<div class="panel-body" *ngFor="let repos of repos">
						<p>
							{{repos.name}}<a href="{{repos.html_url}}" class="btn btn-sm btn-warning" target="">see this project in GitHub</a>
						</p>
						<p>{{repos.description}}</p>
						<!-- <P>{{repos.created_at|date|duration}}</P> -->
						<p>{{repos.created_at|duration}}</p>


					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
